*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-red-400: hsl(0, 78%, 62%);
    --color-cyan-400: hsl(180, 62%, 55%);
    --color-orange-400: hsl(34, 97%, 64%);

    --color-blue-200: hsl(229, 6%, 66%);
    --color-blue-400: hsl(212, 86%, 64%);
    --color-blue-600: hsl(234, 12%, 34%);

    --color-gray-200: hsl(0, 0%, 98%);

    --fw-light: 200;
    --fw-regular: 400;
    --fw-bold: 600;
}

/* utilities */

.fw-light{
    font-weight: var(--fw-light);
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

main{
    padding: 4rem 2rem;
    background-color: var(--color-gray-200);
    max-width: 375px;
    margin: 0 auto;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

h2{
    font-size: 1.25rem;
}


p{
    color: var(--color-blue-200);
}

.text{
    margin-bottom: 3.5rem;
    text-align: center;
}

h1, h2{
    color: var(--color-blue-600);
}

.grid-items{
    display: grid;
    gap: 1.75rem;
    /* height: 60vh; */
}

.grid-item{
    height: 35vh;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 0 15px 20px -15px var(--color-blue-200);
}

.item-1{
    border-top: 4px solid var(--color-cyan-400);
    position: relative;
}

.item-1::after{
    content: "";
    display: block;
    height: 64px;
    width: 64px;
    background-image: url(./images/icon-supervisor.svg);
    position: absolute;
    right: 1rem;
    bottom: 1.25rem;
}

.item-2{
    border-top: 4px solid var(--color-red-400);
    position: relative;
}

.item-2::after{
    content: "";
    display: block;
    height: 64px;
    width: 64px;
    background-image: url(./images/icon-team-builder.svg);
    position: absolute;
    right: 1rem;
    bottom: 1.25rem;
}

.item-3{
    border-top: 4px solid var(--color-orange-400);
    position: relative;
}

.item-3::after{
    content: "";
    display: block;
    height: 64px;
    width: 64px;
    background-image: url(./images/icon-karma.svg);
    position: absolute;
    right: 1rem;
    bottom: 1.25rem;
}

.item-4{
    border-top: 4px solid var(--color-cyan-400);
    position: relative;
}

.item-4::after{
    content: "";
    display: block;
    height: 64px;
    width: 64px;
    background-image: url(./images/icon-calculator.svg);
    position: absolute;
    right: 1rem;
    bottom: 1.25rem;
}